/* Utility Classes */
.mt-1 { margin-top: 1em !important; }
.mb-1 { margin-bottom: 1em !important; }
.ml-1 { margin-left: 1em !important; }
.mr-1 { margin-right: 1em !important; }
.pt-1 { padding-top: 1em !important; }
.pb-1 { padding-bottom: 1em !important; }
.pl-1 { padding-left: 1em !important; }
.pr-1 { padding-right: 1em !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.hidden { display: none !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.left-align { text-align: left !important; }
